node_modules/
npm-debug.log
public/app.*.css
public/scripts
public/img
public/index.html
.idea
yarn-error.log
package-lock.json
css/
components/

/*
bulid/
config/
public/
src/
.babelrc
.gitignore
gulpfile.js
index.template.html
*/