<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="html5,css3,react, redux, react-router">
    <meta name="author" content="wangyuegyq">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<!--[if IE 9]>
	<link rel="stylesheet" type="text/css" href="/reset/IE9.css" />
	<![endif]-->
	<link rel="stylesheet" href="/reset/reset.css">
	<% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="/<%=htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
    <!-- 针对IE9/10兼容 -->
	<script type="text/javascript" src="/reset/IE.js"></script>
</head>
<body>
	<div id="app"></div>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
	<script type="text/javascript" src="/<%=htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
	<% } %>
</body>
</html>